@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
  -ms-overflow-style: none;     /* IE and Edge */
  scrollbar-width: none;        /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Opera */
  width: 0;
  height: 0;
  background: transparent;      /* Optional: just to be safe */
}

.custom-blob {
  border-radius: 100% 0% 0% 100% / 0% 100% 0% 100%;
}
